<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>STUDENT_MANAGEMENT</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BranchControler</display-name>
    <servlet-name>BranchControler</servlet-name>
    <servlet-class>controller.BranchControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BranchControler</servlet-name>
    <url-pattern>/branch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentControler</display-name>
    <servlet-name>StudentControler</servlet-name>
    <servlet-class>controller.StudentControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentControler</servlet-name>
    <url-pattern>/student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentSerchControler</display-name>
    <servlet-name>StudentSerchControler</servlet-name>
    <servlet-class>controller.StudentSerchControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentSerchControler</servlet-name>
    <url-pattern>/studentserch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StuBranchSearchControler</display-name>
    <servlet-name>StuBranchSearchControler</servlet-name>
    <servlet-class>controller.StuBranchSearchContrroler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuBranchSearchControler</servlet-name>
    <url-pattern>/stubranchserch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StuBranchWiseController</display-name>
    <servlet-name>StuBranchWiseController</servlet-name>
    <servlet-class>controller.StuBranchWiseController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuBranchWiseController</servlet-name>
    <url-pattern>/stubranchwise</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudentController</display-name>
    <servlet-name>DeleteStudentController</servlet-name>
    <servlet-class>controller.DeleteStudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudentController</servlet-name>
    <url-pattern>/delstu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudentController</display-name>
    <servlet-name>UpdateStudentController</servlet-name>
    <servlet-class>controller.UpdateStudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentController</servlet-name>
    <url-pattern>/updatestu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentController</display-name>
    <servlet-name>AddStudentController</servlet-name>
    <servlet-class>controller.AddStudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentController</servlet-name>
    <url-pattern>/addstu</url-pattern>
  </servlet-mapping>
</web-app>