<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ImageUpload</display-name>
  <welcome-file-list>
    <welcome-file>Upload.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ImageUploadControler</display-name>
    <servlet-name>ImageUploadControler</servlet-name>
    <servlet-class>nit.com.controler.ImageUploadControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageUploadControler</servlet-name>
    <url-pattern>/uploadservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageControler</display-name>
    <servlet-name>ImageControler</servlet-name>
    <servlet-class>nit.com.controler.ImageControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageControler</servlet-name>
    <url-pattern>/imagec</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageDownloadControler</display-name>
    <servlet-name>ImageDownloadControler</servlet-name>
    <servlet-class>nit.com.bo.ImageDownloadControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageDownloadControler</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
</web-app>