<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Student Management1</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StudentControler</display-name>
    <servlet-name>StudentControler</servlet-name>
    <servlet-class>stu.com.cotroller.StudentControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentControler</servlet-name>
    <url-pattern>/student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentControler</display-name>
    <servlet-name>AddStudentControler</servlet-name>
    <servlet-class>stu.com.cotroller.AddStudentControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentControler</servlet-name>
    <url-pattern>/add_stu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudent</display-name>
    <servlet-name>UpdateStudent</servlet-name>
    <servlet-class>stu.com.cotroller.UpdateStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudent</servlet-name>
    <url-pattern>/updatestu</url-pattern>
  </servlet-mapping>
</web-app>