<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>House_Rental_Project</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginControler</display-name>
    <servlet-name>LoginControler</servlet-name>
    <servlet-class>nit.com.controler.LoginControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginControler</servlet-name>
    <url-pattern>/logincontroler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OwnerLoginControler</display-name>
    <servlet-name>OwnerLoginControler</servlet-name>
    <servlet-class>nit.com.controler.OwnerLoginControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OwnerLoginControler</servlet-name>
    <url-pattern>/OwnerLoginControler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewOwnerControler</display-name>
    <servlet-name>ViewOwnerControler</servlet-name>
    <servlet-class>nit.com.controler.ViewOwnerControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewOwnerControler</servlet-name>
    <url-pattern>/viewownercontroler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewOwnerProfileControler</display-name>
    <servlet-name>ViewOwnerProfileControler</servlet-name>
    <servlet-class>nit.com.controler.ViewOwnerProfileControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewOwnerProfileControler</servlet-name>
    <url-pattern>/viewownerprofilecontroler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddHouseControler</display-name>
    <servlet-name>AddHouseControler</servlet-name>
    <servlet-class>nit.com.controler.AddHouseControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHouseControler</servlet-name>
    <url-pattern>/addhousecontroler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewHouseControler</display-name>
    <servlet-name>ViewHouseControler</servlet-name>
    <servlet-class>nit.com.controler.ViewHouseControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewHouseControler</servlet-name>
    <url-pattern>/viewhousecontroler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OwnerLogoutControler</display-name>
    <servlet-name>OwnerLogoutControler</servlet-name>
    <servlet-class>nit.com.controler.OwnerLogoutControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OwnerLogoutControler</servlet-name>
    <url-pattern>/ownerlogoutcontroler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateOwnerControler</display-name>
    <servlet-name>UpdateOwnerControler</servlet-name>
    <servlet-class>nit.com.controler.UpdateOwnerControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOwnerControler</servlet-name>
    <url-pattern>/updateowner</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOwnerControler</display-name>
    <servlet-name>DeleteOwnerControler</servlet-name>
    <servlet-class>nit.com.controler.DeleteOwnerControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOwnerControler</servlet-name>
    <url-pattern>/deleteowner1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLoginControler</display-name>
    <servlet-name>CustomerLoginControler</servlet-name>
    <servlet-class>nit.com.controler.CustomerLoginControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLoginControler</servlet-name>
    <url-pattern>/customerlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLogoutControler</display-name>
    <servlet-name>CustomerLogoutControler</servlet-name>
    <servlet-class>nit.com.controler.CustomerLogoutControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLogoutControler</servlet-name>
    <url-pattern>/customerlogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCustomerProfileControler</display-name>
    <servlet-name>ViewCustomerProfileControler</servlet-name>
    <servlet-class>nit.com.controler.ViewCustomerProfileControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCustomerProfileControler</servlet-name>
    <url-pattern>/viewcustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageDownLoadControler</display-name>
    <servlet-name>ImageDownLoadControler</servlet-name>
    <servlet-class>nit.com.controler.ImageDownLoadControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageDownLoadControler</servlet-name>
    <url-pattern>/imagec</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCustomerControler</display-name>
    <servlet-name>AddCustomerControler</servlet-name>
    <servlet-class>nit.com.controler.AddCustomerControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCustomerControler</servlet-name>
    <url-pattern>/addcustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerSearchControler</display-name>
    <servlet-name>CustomerSearchControler</servlet-name>
    <servlet-class>nit.com.controler.CustomerSearchControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerSearchControler</servlet-name>
    <url-pattern>/customersearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HouseImageDownload</display-name>
    <servlet-name>HouseImageDownload</servlet-name>
    <servlet-class>nit.com.controler.HouseImageDownload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HouseImageDownload</servlet-name>
    <url-pattern>/houseimagedownload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientLoginControler</display-name>
    <servlet-name>ClientLoginControler</servlet-name>
    <servlet-class>nit.com.controler.ClientLoginControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientLoginControler</servlet-name>
    <url-pattern>/clientlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewOwner</display-name>
    <servlet-name>ViewOwner</servlet-name>
    <servlet-class>nit.com.controler.ViewOwner</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewOwner</servlet-name>
    <url-pattern>/viewowner</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OwnerImageDownload</display-name>
    <servlet-name>OwnerImageDownload</servlet-name>
    <servlet-class>nit.com.controler.OwnerImageDownload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OwnerImageDownload</servlet-name>
    <url-pattern>/ownerimagedownload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllCustomerControler</display-name>
    <servlet-name>ViewAllCustomerControler</servlet-name>
    <servlet-class>nit.com.controler.ViewAllCustomerControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllCustomerControler</servlet-name>
    <url-pattern>/viewallcustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerImageDownloadControler</display-name>
    <servlet-name>CustomerImageDownloadControler</servlet-name>
    <servlet-class>nit.com.controler.CustomerImageDownloadControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerImageDownloadControler</servlet-name>
    <url-pattern>/customerimagedownloadcontroler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientLogOutControler</display-name>
    <servlet-name>ClientLogOutControler</servlet-name>
    <servlet-class>nit.com.controler.ClientLogOutControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientLogOutControler</servlet-name>
    <url-pattern>/clientlogut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCustomerProfile</display-name>
    <servlet-name>ViewCustomerProfile</servlet-name>
    <servlet-class>nit.com.controler.ViewCustomerProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCustomerProfile</servlet-name>
    <url-pattern>/viewcustomerprofile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustImageDownload</display-name>
    <servlet-name>CustImageDownload</servlet-name>
    <servlet-class>nit.com.controler.CustImageDownload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustImageDownload</servlet-name>
    <url-pattern>/custimagedownload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HouseSearchController</display-name>
    <servlet-name>HouseSearchController</servlet-name>
    <servlet-class>nit.com.controler.HouseSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HouseSearchController</servlet-name>
    <url-pattern>/housesearchcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOwnerController</display-name>
    <servlet-name>DeleteOwnerController</servlet-name>
    <servlet-class>nit.com.controler.DeleteOwnerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOwnerController</servlet-name>
    <url-pattern>/deleteowner</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteHouseController</display-name>
    <servlet-name>DeleteHouseController</servlet-name>
    <servlet-class>nit.com.controler.DeleteHouseController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteHouseController</servlet-name>
    <url-pattern>/deletehouse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OwnerForgetPassword</display-name>
    <servlet-name>OwnerForgetPassword</servlet-name>
    <servlet-class>nit.com.controler.OwnerForgetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OwnerForgetPassword</servlet-name>
    <url-pattern>/ownerforget</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HouseImageDownloadController</display-name>
    <servlet-name>HouseImageDownloadController</servlet-name>
    <servlet-class>nit.com.controler.HouseImageDownloadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HouseImageDownloadController</servlet-name>
    <url-pattern>/houseimagedownload1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientForgetPassword</display-name>
    <servlet-name>ClientForgetPassword</servlet-name>
    <servlet-class>nit.com.controler.ClientForgetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientForgetPassword</servlet-name>
    <url-pattern>/clientforget</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerForgetPassword</display-name>
    <servlet-name>CustomerForgetPassword</servlet-name>
    <servlet-class>nit.com.controler.CustomerForgetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerForgetPassword</servlet-name>
    <url-pattern>/customerforget</url-pattern>
  </servlet-mapping>
</web-app>