<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Nitrr_Student_Management</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ShowStudent</display-name>
    <servlet-name>ShowStudent</servlet-name>
    <servlet-class>nit.com.controler.ShowStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowStudent</servlet-name>
    <url-pattern>/showstudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentControler</display-name>
    <servlet-name>AddStudentControler</servlet-name>
    <servlet-class>nit.com.controler.AddStudentControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentControler</servlet-name>
    <url-pattern>/add_stu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentSerchByName</display-name>
    <servlet-name>StudentSerchByName</servlet-name>
    <servlet-class>nit.com.controler.StudentSerchByName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentSerchByName</servlet-name>
    <url-pattern>/stusearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentSearchByRollNo</display-name>
    <servlet-name>StudentSearchByRollNo</servlet-name>
    <servlet-class>nit.com.controler.StudentSearchByRollNo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentSearchByRollNo</servlet-name>
    <url-pattern>/searchstu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudentControler</display-name>
    <servlet-name>UpdateStudentControler</servlet-name>
    <servlet-class>nit.com.controler.UpdateStudentControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentControler</servlet-name>
    <url-pattern>/updatestu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSrtudent</display-name>
    <servlet-name>DeleteSrtudent</servlet-name>
    <servlet-class>nit.com.controler.DeleteSrtudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSrtudent</servlet-name>
    <url-pattern>/delstu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BranchControler</display-name>
    <servlet-name>BranchControler</servlet-name>
    <servlet-class>nit.com.controler.BranchControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BranchControler</servlet-name>
    <url-pattern>/showbranch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBranch</display-name>
    <servlet-name>AddBranch</servlet-name>
    <servlet-class>nit.com.controler.AddBranch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBranch</servlet-name>
    <url-pattern>/add_branch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BranchSerchByBranchId</display-name>
    <servlet-name>BranchSerchByBranchId</servlet-name>
    <servlet-class>nit.com.controler.BranchSerchByBranchId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BranchSerchByBranchId</servlet-name>
    <url-pattern>/searchbranch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseControler</display-name>
    <servlet-name>CourseControler</servlet-name>
    <servlet-class>nit.com.controler.CourseControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseControler</servlet-name>
    <url-pattern>/viewcourse</url-pattern>
  </servlet-mapping>
</web-app>